body {
    background: #0d0d0d;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* TITULO */
h1 {
    margin-top: 30px;
    font-size: 32px;
    font-weight: 600;
}

/* CONTENEDOR DEL GRID */
.productos-container {
    width: 85%;
    margin: 40px auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;
}

/* TARJETAS */
.product-card {
    background: #141414;
    border-radius: 12px;
    padding: 18px;
    border: 1px solid #1c1c1c;
    box-shadow: 0 0 12px rgba(0, 140, 255, 0.05);
    transition: 0.25s;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px rgba(0, 140, 255, 0.25);
}

/* IMAGEN */
.product-img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* TITULO PRODUCTO */
.product-card h3 {
    font-size: 16px;
    font-weight: 500;
    min-height: 40px;
}

/* PRECIO */
.price {
    color: #00aaff;
    font-weight: 600;
    font-size: 17px;
    margin: 10px 0;
}

/* BOTON */
.btn-add {
    background: #007bff;
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
}

.btn-add:hover {
    background: #0066d6;
    transform: scale(1.03);
}
