body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #fff;
}

header {
    background: #222;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

.category-btn {
    margin-right: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.products-grid {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-card {
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.btn-add {
    padding: 10px 15px;
    margin-top: 10px;
    background: #00aaff;
    color: #000;
    border: none;
    cursor: pointer;
}

.pagination button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
.cart-item {
    display: flex;
    background: #1c1c1c;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}

.cart-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-right: 20px;
}

.cart-info {
    flex-grow: 1;
}

.qty button {
    padding: 5px 10px;
    margin: 0 5px;
}

.remove-btn {
    padding: 5px 10px;
    margin-top: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
.ticket-item {
    background: #1c1c1c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.home-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.welcome-box {
    background: #1c1c1c;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
}

.welcome-box h2 {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #00aaff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0088cc;
}
